@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  overflow-x: hidden;
}

/* FADE ANIMATION */

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  scale: 0.95;
}

/* LIST ANIMATION */

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.35s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}
